/* overall */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --lessblue:#00EAFF;
    --moderateblue:#0C7EAD;
    --darkblue:#065475;
    --purple:#A44AA4;
    --background:rgba(157, 246, 254, 0.879);
}

body{
    /* font-family: 'Roboto Flex', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    color: var(--darkblue);
}
.body{
    padding-inline: 10vw;
}
a{
    text-decoration: none;
    color: black;
}
img{
    height: 100%;
    width:100%;
}


/*----------------- scrollbar------------------- */
html::-webkit-scrollbar{
    width: .8vw;
}
html::-webkit-scrollbar-thumb{
    background-color: #ffa9f1;
    border-radius: 100px; 
    border: 2px solid #9DF7FF;
    transition: 0.5s;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #fd6be5;
    border-radius: 100px; 
    border: 1px solid #9DF7FF;
}
html::-webkit-scrollbar-track{
    background: #9DF7FF;
    border-radius: 100px; 
}

/*--------- navbar---------- */

/* .navbar {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */
/* .navbar ul li {
    padding-left: 3vw;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

.navbar ul li a {
    padding: 1.2vh;
    color: var(--textblue);
;
} */
/* .navbar ul li a::before{
    content: "";
    position: absolute;
    background-color: var(--purple);
    height:5px;
    width: 0;
    border-radius: 20px;
    top: 90px;
    transition: 0.3s;
}
.navbar ul li a:hover::before,.navbar ul li a.active::before{
    width: 29px;
}
.navbar ul li a:hover,.navbar ul li a.active {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: var(--darkblue);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
} */
.logo {
    height: 4em;
    width: 4em;
}
.tu_logo {
    height:  4em;
    width: 4em;
}

/*--------------------- ACES top -------------------*/

.home{
    margin-bottom: 5vw;
}
.acesPagec1 {
    top: 100px;
    position: absolute;
    left: 25vw;
    margin-block: 2em;
    margin-inline: auto;
    width: 50vw;
    height: 27vw;
    background: radial-gradient(93.11% 301.29% at 96.97% 93.46%, rgba(250, 251, 255, 0.36) 0%, rgba(153, 245, 254, 0.36) 51.29%, rgba(240, 197, 244, 0.36) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: -1px -1px 5px 0px rgb(0 0 0 / 25%);
    border-radius: 70px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
}
.h1 {
    font-size: 30px;
}
.aces {
    transform: translate(0, 66px);
    margin-right: 18vw;
    font-weight: 800;
    font-size: 3em;
    text-align: right;
    line-height: 1.7;
    z-index: 2;
    font-family: 'IBM Plex Mono', monospace;

}
.aces span{
    font-size: .4em;
}



/*----------------- events-------------------- */

.upevent{
    text-align: center;
    margin-bottom: 20px;
}

.eventinfo{
    line-height: 3;
    text-align: center;
}

.Lt_Event {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-gap: 2vw;
    padding: 2vh 2vw 2vh 2vw;
    justify-content: center;
}

.h2 {
    margin-top: 14vh;
}

.event_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event_1 .img{
    height: 20rem;
}


.EventImg {
    position: relative;
    height: 100%;
    width: 100%;
}



.eventImg {
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.814);
}
.img img{
    border-radius: 10px;
}
@media(hover){
    .event_1 {
        transform: scale(1.05);
        transform: scale(1);
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 70%);
    }
    .event_1:hover,.event_1:focus-within {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
}
.event_1 button{
    background: var(--lessblue);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: bold;
}

/* -------------------eventcard -----------------*/

.Event_card {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    flex-direction: row;
    grid-gap: 1rem;
    justify-content: space-evenly;
}
.card1{
    background: url('Images/web\ design\ compition.jpg')no-repeat center center/cover;
}
.card2{
    background: url('Images/hakathon.jpg')no-repeat center center/cover;
}
.card3{
    background: url('Images/bct\ league.jpg')no-repeat center center/cover;
}
.card1,.card2,.card3{
    padding: 8rem 0 0;
    max-width: 35ch;
    color: white;
    overflow: hidden;
    border-radius: 10px;
}
.card{
    transition: transform 300ms ease;
}
.card:hover,
.card:focus-within{
    transform: scale(1.05);
}

.cardcontent{
    padding: 1.5em;
    background:linear-gradient(
    hsl(0 0% 0% /0),
    hsl(20 0% 0%/0.3) 20%,
    hsl(0 0% 0% /1)
    );
} 
.cardcontent button{
    background: var(--lessblue);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: bold;
}

@media(hover){
    .cardcontent{
        transform: translateY(65%);
    transition: transform 300ms linear;
    }
    .card:focus-within .cardcontent{
        transition-duration: 0ms;
    }
    
    .cardcontent>*:not(.card-title){
        opacity: 0;
        transition: opacity .3s ease;
    }
    .card:hover .cardcontent>*:not(.card-title),
    .card:focus-within .cardcontent>*:not(.card-title)
    {
        opacity: 1;
        transition-delay:600ms ;
    }
    .card:hover .cardcontent,
.card:focus-within .cardcontent{
    transform: translateY(0);
    transition-delay: 300ms;
}
}


section{
    transform: translateY(100px);
}


/*-------------- footer ---------------------*/

footer {
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
footer h1{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 5vw;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navClass {
    font-size: 16px;
    padding: 1vw;
    font-family: sans-serif;
}

.navClass:hover {
    transition: 0.3s ease-in-out;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.copyrightPage {
    border-top: 1px solid grey;
    padding: 2vh;
    width: 50vw;
}

.copyrightPage p {
    text-align: center;
    font-size: 14px;
    color: grey;
    font-family: sans-serif;
}
.navfooterLink{
    display: flex;
    justify-content: center;
}
.social{
    display: flex;
    width: 12vw;
}
.social a{
    margin: 10px;
}



/*------------------- media queries -----------------*/
@media (min-width:50em) {
    .Event_card {
        grid-template-columns: repeat(3,1fr);
    }
    /* .testipeople{
        grid-template-columns: repeat(3,1fr);
    } */
}




.navbar {
    background: var(--background);
    padding: .5rem;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
  }
  
  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  .navbarElmt {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  .navbarElmt ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navbarElmt li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  .navbarElmt a {
    color: var(--darkblue);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  .navbarElmt a:hover, .navbarElmt a.active {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: var(--darkblue);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  }
  
  .nav-toggle:checked ~ .navbarElmt {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ .navbarElmt a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    .navbar {
        display: flex;
        padding-inline: 10vw;
        }
    
    .logo {
      grid-column: 2 / 3;
    }
    
    .navbarElmt {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbarElmt ul {
      display: flex;
    }
    
    .navbarElmt li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    .navbarElmt a {
      opacity: 1;
      position: relative;
    }
    
    .navbarElmt a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--purple);
        position: absolute;
        top: 1.5em;
        left: 0;
        border-radius: 20px;
        right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    .navbarElmt a:hover::before {
      transform: scale(1,1);
    }
  }

  @media screen and (max-width:800px){

    footer{
        height:65vw;
    }
    
    .social{
        width: 35vw;
    }
  }